{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <title>GPC</title>
	  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
  </head>

  <body>
    <div id="ask_question">
      <p>{{ question.question_text }}</p>
    </div>
    <div id="answers">
      <a class="answer_circle" href="/questions/{{ question.yes_answer }}"><div class="answer_text">ДА</div></a>
      <a class="answer_circle" href="/questions/error.html"><div class="answer_text">НЕТ</div></a>
    </div>
  </body>
</html>
